body {
    background-color: #202020;
    text-align: center;
}
.title {
    margin-top: 30px;
    color: gray;
    font-size: 4em;
    font-family: 'Lobster Two', cursive;
}
button {
    font-family: 'Rajdhani', sans-serif;
    margin-top: 50px;
    width: 100px;
    font-size: 2.5em;
    cursor: pointer;
}

.yep {
    color: gray;
    font-family: 'Lobster Two', cursive;
}

.colorLight, .colorDark {
    margin-top:0;
    font-size: 1.5em;
    width: 120px;
}
.colorLight {
    background-color: #bbbbbb;
}
.colorDark {
    background-color: #222222;
    color: white;
}
.colorDark:hover, .colorLight:hover {
    background-image: url(img/gif.gif);
    background-size: contain;
    background-size: 150%;
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
}
.title:hover, .yep:hover {
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
    color: #fff1a1;
    transform: skew(-10deg);
    cursor: pointer;
}

.nupp:hover {
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
    background-image: url(img/gif.gif);
    background-size: 150%;
}

.copyright {
    color: gray;
    font-family: 'Lobster Two', cursive;
    text-align: left;
    margin-top: 120px;
}

.copyright:hover {
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
    color: #fff1a1;
    font-size: 1.25rem;
}
.flag {
    height: 30px;
    width: 50px;
    border: 3px solid black;
}

.randombutton {
    width: 300px;
    background-image: url(img/gif.gif);
    background-size: cover;
}
.randombutton:hover {
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
    background-color: #fff1a1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.5em;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #fff1a1;
    color: black;
  }
  
  li a.active {
    color: black;
    background-color: #fff1a1;
  }

